{% extends 'base.html.twig' %}
{% block body %}
    <div class="container mt-4">
        <!-- Zone pour le détail du module -->
        <div class="module-detail mb-4 p-3 rounded bg-white shadow-sm">
            {{ detail.detail }}
        </div>

        <!-- Utilisation des colonnes Bootstrap pour la mise en page -->
        <div class="row">
            <!-- Chaque bloc pour les graphiques -->
            {% set chartNames = ['Température', 'Vitesse', 'Passagers'] %}
            {% set chartIds = ['temperatureChart', 'speedChart', 'passengerChart'] %}
            {% set moduleIds = ['temperature', 'speed', 'passengers'] %}

            {% for i in 0..2 %}
                <div class="col-md-4 chart-container mb-4">
                    <div class="chart-header d-flex justify-content-between align-items-center">
                        <h3>{{ chartNames[i] }}</h3>
                        <button class="btn btn-primary enlarge-button" data-target="{{ chartIds[i] }}" data-module-id="{{ moduleIds[i] }}">Agrandir</button>
                        <button class="btn btn-warning reduce-button" data-target="{{ chartIds[i] }}" data-module-id="{{ moduleIds[i] }}" style="display:none;">Réduire</button>
                    </div>
                    <canvas id="{{ chartIds[i] }}"></canvas>
                </div>
            {% endfor %}
        </div>

        <div class="d-flex justify-content-between mt-4">
            <button class="btn btn-danger stop-generation-button" data-module-id="{{ detail.id }}">Arrêt</button>
            <button class="btn btn-success start-generation-button" data-module-id="{{ detail.id }}">Marche</button>
        </div>

    </div>

    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% endblock %}

{% endblock %}
